<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="base.html :: base-start"></head>

<body>
    <div class="container">
        <div class="row">
            <h3 class="h3 my-4 fw-normal text-center">Inspection Report</h3>
        </div>
        <div class="row">
            <div class="col-sm-4">QC-00<span th:text="${batchId != null} ? ${batchId}"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><span th:text="${dateToday}"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-4 mt-4">Inspection No. <span th:text="${batchId != null} ? ${batchId}"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Item Description "</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Quantity :<span th:text="${items.size()}"></span></div>
        </div>

        <div class="row">
            <table class="table table-bordered table-sm my-4">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Method</th>
                        <th scope="col">Standard</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="parameter : ${params}">
                        <tr>
                            <th scope="row" th:text="${parameter.getValueName()}"></th>
                            <td th:text="${parameter.getMethod()}"></td>
                            <td th:text="${parameter.getParamValue()}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>

        <div class="row">
            <table class="table table-bordered table-sm my-4">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Equipment</th>
                    <th scope="col">Result</th>
                    <th scope="col">Remark</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item : ${items}">
                    <tr>
                        <td scope="row" th:text="${item.getItemId()}"></td>
                        <td th:text="${item.getEquipment()}"></td>
                        <td th:text="${item.getResult()}"></td>
                        <td></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <div class="row justify-content-end">
            <div class="col-sm-4">
            <table class="table table-bordered table-sm my-4">
                <thead>
                    <tr>
                        <th scope="col">Checked By</th>
                        <th scope="col">Approved By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <th>
                            <div sec:authorize="isAuthenticated()">
                                <span th:text ="${#authentication.getPrincipal().getName()}"></span>
                            </div>
                            <br><br><br><br><br>
                        </th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>DATE</th>
                        <th th:text="${dateToday}"></th>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

    </div>
</body>


<div th:replace="base.html :: base-end"></div>
</html>