<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="base.html :: base-start"></head>

<body>

<header th:replace="header.html :: header"></header>
<main class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
<!--            <nav th:replace="navbar.html :: navbar"></nav>-->
        </div>

        <!-- -->
        <div class="col mr-2">
            <div class="row">
                <h3 class="mt-4">QC Reporting</h3>
                <form method="post" th:action="@{/inspection/reporting}"  th:object="${query}">
                    <div class="row g-3 align-items-center">
                        <div class="col-sm-1">
                            <label for="startDate" class="col-form-label">Start Date: </label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" id="startDate" class="form-control col-sm-3" th:field="*{startDate}" required>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-sm-1">
                            <label for="endDate" class="col-form-label">End Date: </label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" id="endDate" class="form-control" th:field="*{endDate}" required>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-sm-1">
                            <label for="item" class="col-form-label">Item</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="item" class="form-control" th:field="*{itemId}">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1">
                            <button type="submit" id="query" class="btn btn-primary">Query</button>
                        </div>
                        <span th:if="${report != null}">
                            <a th:href="@{/inspection/export/all}" class="btn btn-primary">Export All</a>
                        </span>
                    </div>
                </form>

            </div>

            <!--        -->
            <span th:if="${report != null}">
                <div class="">
                    <div id="tabs">
                        <ul>
                            <li><a href="#summary">Summary</a></li>
                            <li><a href="#batch">Batch</a></li>
                        </ul>
                        <div id="summary">
                            <div class="col-sm-8">
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>No of NG</th>
                                            <th>No of OK</th>
                                            <th>Defect Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="summary : ${summaries}">
                                        <tr>
                                            <td class="itemId" th:text="${summary.getDate()}"></td>
                                            <td class="batchId" th:text="${summary.getNg()}"></td>
                                            <td class="staffId" th:text="${summary.getOk()}"></td>
                                            <td class="startDate" th:text="${summary.getRate()}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Batch Tab -->
                        <div class="row" id="batch">
                            <div class="col-sm-8">
                                <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Item ID</th>
                                        <th>Batch ID</th>
                                        <th>Staff Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="item : ${report}">
                                        <tr>
                                            <td class="itemId" th:text="${item.getItemId()}"></td>
                                            <td class="batchId" th:text="${item.getBatchId()}"></td>
                                            <td class="staffId" th:text="${item.getStaffId()}"></td>
                                            <td class="startDate" th:text="${item.getStateDate()}"></td>
                                            <td class="endDate" th:text="${item.getStateDate()}"></td>
                                            <td class="export">
                                                <a class="btn btn-primary btn-sm" th:href="@{/inspection/export?batchId={id}(id = ${item.getBatchId()})}">Export</a>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>

                            </div>

                        </div>
                    </div>
                </div>
            </span>
        </div>

    </div>
</main>
</body>
<div th:replace="base.html :: base-end"></div>
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
<script type="text/javascript" th:src="@{/js/reporting.js}"></script>
</html>