<!DOCTYPE html>
<html lang="en">
<head th:replace="base.html :: base-start"></head>
<body>

<div class="d-flex justify-content-center mt-5">
    <form method="POST" th:action="@{/login}" class="col-4">
        <div class="my-2 form-floating">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            <label for="username" class="form-label">Username</label>
        </div>
        <div class="my-2 form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <label for="password" class="form-label">Password</label>
        </div>
        <button class="my-2 w-100 btn btn-lg btn-primary" type="submit">Login</button>
        <span th:text="${error != null} ? ${error}"></span>
    </form>
</div>

</body>
<div th:replace="base.html :: base-end"></div>
</html>