<!doctype html>
<html lang="en">
<head th:replace="base.html :: base-start"></head>

<body>
<nav th:replace="header.html :: header"></nav>

<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container"></div>
<main class="container">

    <div class="container">
        <h3 class="mt-4">User Management Portal</h3>
        <table class="table table-bordered table-hover mt-4">
            <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Username</th>
                <th scope="col">Staff Name</th>
                <th scope="col" class="col-sm-4">Email</th>
                <th scope="col">Effective Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Roles</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${users}">
                <tr class="selectable">
                    <td th:text="${user.getStaffId()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getEffectiveDate()}"></td>
                    <td th:text="${user.getEndDate()}"></td>
                    <td th:text="${user.getRoles()}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/users/edit?id={id}(id = ${user.getStaffId()})}">Edit</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>

    <div class="row">

        <div class="col-sm-8">
            <form method="post" th:object="${newUser}" th:action="@{/users}" id="addUserForm">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" name="name" th:field="*{username}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="roles" class="col-sm-2 col-form-label">Role</label>
                    <select name="roles" id="roles" th:field="*{roles}">
                        <th:block th:each="role : ${roles}">
                            <option th:value="${role.getId()}" th:text="${role.getName()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-sm-2 col-form-label">End Date</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="date" name="date" th:field="*{endDate}" required>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>

<!--        <div class="col-sm-2">-->
<!--            <button type="button" class="btn btn-success mt-6 mb-8" id="editUser" data-toggle="modal" data-target="#editUserModal" disabled>-->
<!--                Edit-->
<!--            </button>-->
<!--        </div>-->
    </div>

<!--    <div class="container">-->
<!--        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="editUserFormLabel">Edit User</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <form method="post" th:action="@{/users/edit}" id="editUserForm">-->

<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--                        <button class="btn btn-primary" id="editUser">Save</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</main>
</body>
<div th:replace="base.html :: base-end"></div>
<!--<script>-->
<!--    var users = [[${users}]]-->
<!--</script>-->
<script type="text/javascript" th:src="@{/js/userManagement.js}"></script>
</html>