<header th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Operation Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/parameters}">QC Parameters Management</a></li>
                    <li><a class="dropdown-item" th:href="@{/users}">User Management Portal</a></li>
                    <li><a class="dropdown-item" th:href="@{/inspection/reporting}">QC Reporting</a></li>
                    <li><a class="dropdown-item" th:href="@{/inspection}">Quality Control Inspection</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <div sec:authorize="isAuthenticated()">
                        <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <li><a class="dropdown-item" th:href="@{/login}">Login</a></li>
                    </div>
            </li>
            </ul>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}"></a>
            </li>
        </div>
    </div>
</header>
