<nav th:fragment="navbar" class="navbar navbar-light">
    <ul>
        <li>
            <a class="nav-item" th:href="@{/parameters}">QC Parameters Management</a>
        </li>
        <li>
            <a class="nav-item" th:href="@{/users}">User Management Portal</a>
        </li>
        <li>
            <a class="nav-item" th:href="@{/reporting}">QC Reporting</a>
        </li>
        <li>
            <a class="nav-item" th:href="@{/inspection}">Quality Control Inspection</a>
        </li>
    </ul>
</nav>